@import "reset";

/* Not sure what this is about in reset */
p, blockquote, iframe, img, ul, ol, pre, video {
  margin-bottom:0em;
}

h1 {
  color:#000;
}

h2 {
  font-size:1.7em;
  color:#c00;
  border-bottom-color:#ccc;
}

h3 {
  font-size:1.3em;
  color:#888;
}

pre {
  border-color:#ccc;
}

td pre {
  border: 0px;
}

code {
  color:#888;
}

ul, ol{
  margin-left : 1.3em;
}

li li {
  font-size : 95%;
  padding : 0.15em 0 0 0;
}


blockquote {
  font-style:italic;
  padding:1em 2em;
  color:#000;
  border-left:5px solid #ccc;

  p {
    margin:0;
  }

  cite {
    font-size:.5em;
    font-style:normal;
    font-weight:bold;
    color:#888;
  }
}

table tr td {
   border: 1px solid black;
}

td{
  padding : 0.1em;
  vertical-align : middle;
}

table.no-border {
  border: 0;

  tr td {
   border: 0;
  }
}

::-moz-selection{ background:#c00; color:#fff; }
::selection { background:#c00; color:#fff; }

a {
  &, &:hover, &:focus, &:active, &:visited {
    color:#c00;
    text-decoration:none;
  }

  &:hover, &:focus {
    text-decoration:underline;
  }
}

.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size:1.75em;
  background:#fff;

  > .slide {
    padding:0 8vh;
  }
}

.screen_overlay{
  position : absolute;
  left : 2%;
  top : 2%;
  right : 2%;
  bottom : 12%;
}

.screen-footer{
  position:absolute;
  left : 2%;
  right : 2%;
  top : 94%;
  bottom : 2%;
}

.slide {
  /*.deck-before, .deck-previous {
    opacity:0.4;

    &:not(.deck-child-current) {
      .deck-before, .deck-previous {
        opacity:1;
      }
    }
  }*/

  .deck-child-current {
    opacity:1;
  }
  
  /* Used to show up text */
  .highlight {
    color: red;
  }
}

.deck-prev-link, .deck-next-link {
  background:#ccc;
  font-family:serif;

  &, &:hover, &:focus, &:active, &:visited {
    color:#fff;
  }

  &:hover, &:focus {
    background:#c00;
    text-decoration:none;
  }
}

.deck-status {
  font-size:0.6666em;
}

.deck-menu {
  .slide {
    background:#eee;
  }

  .deck-current, .no-touch & .slide:hover {
    background:#ddf;
  }
}
